* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ffffff;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    gap: 10px;
}

.view-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 15px;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 70%;

    & p {
        font-size: 23px;
        font-weight: 700;
    }
}

#box1 {
    border-left: rgb(0, 0, 95) solid 5px;
}
#box2 {
    border-left: green solid 5px;
}
#box3 {
    border-left: red solid 5px;
}

#current-balance {
    color: rgb(0, 0, 95);
}

#total-income {
    color: green;
}

#total-expense {
    color: red;
}

/* CSS tính năng 2 */


main {
    background: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.history {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(11, 0, 61);
}

#add-transaction {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    background-color: rgb(78, 78, 255);
    cursor: pointer;
    border: 1px solid rgb(78, 78, 255);
    border-radius: 10px;
    color: white;
    font-weight: 700;

    & span, p {
        background: rgb(78, 78, 255);
        font-size: 15px;
    }
}

table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: 700;
    padding: 20px;
    color: rgb(92, 91, 91);
    background: rgb(228, 228, 228);
}

td {
    padding: 20px;
    border-bottom: 1px solid #ebedf3;
}

/* Responsive CSS */
@media (min-width: 1024px) {
    #view {
        flex-direction: row;
        justify-content: space-between;
    }
}
